.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-duration) var(--transition-timing-function),
    visibility var(--transition-duration) var(--transition-timing-function);
  opacity: 1;
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 100%;
  padding: 40px;

  background-color: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1) rotateZ(0);
  transition: transform var(--transition-duration) var(--transition-timing-function);

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
  }
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7) rotateZ(90deg);
}
.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  @include flex-centered();

  width: 30px;
  height: 30px;
  background: var(--main-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  &:active {
    box-shadow: none;
  }
}

.modal__icon-close {
  transition: fill var(--transition-duration) var(--transition-timing-function);

  .modal__btn-close:hover &,
  .modal__btn-close:focus & {
    fill: var(--accent-btn-background-color);
  }
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(30 / 20);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-text-color);

  @media screen and (min-width: 1200px) {
    line-height: calc(23 / 20);
  }
}
